{% extends 'base.html' %}
{% load embed_video_tags %}

{% block page_content %}

{% load static %}


<div class="card">
<div class="card mb-3" style="max-width: 1540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ govno.image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><strong>Инициалы: </strong>{{ govno.name }}</h5>
        <h5 class="card-title"><strong>Дата Рождения: </strong>{{ govno.birth }}</h5>
        <h6 class="card-text"><strong>Должность: </strong>{{ govno.position }}</h6>
        <h6 class="card-text"><h6><strong>Основная деятельность: </strong>{{ govno.resume }}</h6>
        {% if govno.criminal_record  %}
        <h6 class="card-text"><strong>Судимость: </strong>Да</h6>
            {% if govno.years  %}
                  <h6 class="card-text"><strong>Годы судимости: </strong>{{ govno.years }}</h6>
            {% endif %}
        {% else %}
        <h6 class="card-text"><strong>Судимость: </strong>Нет</h6>
        {% endif %}
        <h6 class="card-text"><strong>Дополнительная информация: </strong><div>{{ govno.dop_info | safe}}</div></h6>

        {% if govno.video %}
        {% video govno.video small %}
        {% endif %}
    </div>
  </div>
</div>
</div>
          <img src="{{ govno.govnoImage.url }}">



<!--<p>{{i.title}}</p>-->
<!--<br><br><br><br><br><br><br><br><br><br>-->


     {% endblock %}